<h1>Badge management page</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div ng-controller="BadgeCreateCtrl"  class="span10">
            <!--Body content-->
            <form class="form-horizontal">
                <fieldset>
                    <legend>Create a badge</legend>
                    <div class="control-group">
                        <label class="control-label">Name</label>

                        <div class="controls">
                            <input ng-model="badge.name" class="input-xlarge" type="text" placeholder="badgeName" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Category</label>

                        <div class="controls">
                            <select ng-model="category" ng-options="i.name for i in allCategories" >
                                <option value="">-- Chose category --</option>
                            </select>
                            or add a new one:
                            <input ng-model="newCategory.name" class="input-large" type="text">
                            <button ng-click="createCategory(newCategory)" type="button" class="btn">Add</button>
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Icon</label>

                        <div class="controls">
                            <input ng-model="badge.icon" class="input-xlarge" type="text" placeholder="Link to the icon" required>

                            <a class="thumb"><img ng-src="{{badge.icon}}" class="fixed_width"></a>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button ng-click="cancel()" type="button" class="btn">Cancel</button>
                            <button ng-click="create(badge)" type="submit" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>