<h1>Leaderboard</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div ng-controller="HomeCtrl" class="span10">
            <!--Body content-->


            <table class="table table-condensed">
                <legend>List of all users</legend>

                <thead>
                <tr>
                    <th>Position</th>
                    <th>Login</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Number of badges</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="leader in leaderboard">
                    <td>{{leader.position}}</td>
                    <td>{{leader.login}}</td>
                    <td>{{leader.firstname}}</td>
                    <td>{{leader.lastname}}</td>
                    <td>{{leader.email}}</td>
                    <td>{{leader.statistics.badge_count}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>